$primary-color: #ff6f3c;
$secondary-color:  #155263;
 
$font-bold: bold;
$tertiary-color:  #5699;
$background: #eadbc8;

$base-padding: 0.75rem;
$base-margin: 0.75rem;
$larg-font: 1.5rem;
$medium-font: 1.5rem;
$link-font: 1.3rem;

$border-radius: 25px;
$box-shadow: 2px 20px 15px rgb(245, 180, 136);

$link-background: #ff9f66;